In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("US_data.csv")

In [3]:
df

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_LCSCTSN,_LCSPSTF,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK3,_RFDRHV9,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,2.0,b'02282024',b'02',b'28',b'2024',1100.0,b'2024000001',2.024000e+09,1.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,2.0,b'02212024',b'02',b'21',b'2024',1100.0,b'2024000002',2.024000e+09,1.0,...,4.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
2,1.0,2.0,b'02212024',b'02',b'21',b'2024',1100.0,b'2024000003',2.024000e+09,1.0,...,4.0,2.0,1.0,1.000000e+02,2.0,1.400000e+03,1.0,NaN,NaN,2.0
3,1.0,2.0,b'02282024',b'02',b'28',b'2024',1100.0,b'2024000004',2.024000e+09,1.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
4,1.0,2.0,b'02212024',b'02',b'21',b'2024',1100.0,b'2024000005',2.024000e+09,1.0,...,3.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457665,78.0,7.0,b'07122024',b'07',b'12',b'2024',1200.0,b'2024001344',2.024001e+09,NaN,...,NaN,NaN,9.0,9.000000e+02,9.0,9.990000e+04,9.0,9.0,9.0,NaN
457666,78.0,7.0,b'07182024',b'07',b'18',b'2024',1100.0,b'2024001345',2.024001e+09,NaN,...,4.0,2.0,1.0,1.000000e+02,9.0,3.500000e+03,2.0,2.0,2.0,1.0
457667,78.0,7.0,b'07172024',b'07',b'17',b'2024',1100.0,b'2024001346',2.024001e+09,NaN,...,4.0,9.0,1.0,7.000000e+00,1.0,1.400000e+02,1.0,1.0,1.0,2.0
457668,78.0,7.0,b'07202024',b'07',b'20',b'2024',1200.0,b'2024001347',2.024001e+09,NaN,...,NaN,NaN,9.0,9.000000e+02,9.0,9.990000e+04,9.0,NaN,NaN,NaN
457669,78.0,7.0,b'07182024',b'07',b'18',b'2024',1100.0,b'2024001348',2.024001e+09,NaN,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,9.0

In [4]:
df.drop("IDATE", axis=1, inplace=True)
df

,_STATE,FMONTH,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,PVTRESD1,...,_LCSCTSN,_LCSPSTF,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK3,_RFDRHV9,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,2.0,b'02',b'28',b'2024',1100.0,b'2024000001',2.024000e+09,1.0,1.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,2.0,b'02',b'21',b'2024',1100.0,b'2024000002',2.024000e+09,1.0,1.0,...,4.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
2,1.0,2.0,b'02',b'21',b'2024',1100.0,b'2024000003',2.024000e+09,1.0,1.0,...,4.0,2.0,1.0,1.000000e+02,2.0,1.400000e+03,1.0,NaN,NaN,2.0
3,1.0,2.0,b'02',b'28',b'2024',1100.0,b'2024000004',2.024000e+09,1.0,1.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
4,1.0,2.0,b'02',b'21',b'2024',1100.0,b'2024000005',2.024000e+09,1.0,1.0,...,3.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457665,78.0,7.0,b'07',b'12',b'2024',1200.0,b'2024001344',2.024001e+09,NaN,NaN,...,NaN,NaN,9.0,9.000000e+02,9.0,9.990000e+04,9.0,9.0,9.0,NaN
457666,78.0,7.0,b'07',b'18',b'2024',1100.0,b'2024001345',2.024001e+09,NaN,NaN,...,4.0,2.0,1.0,1.000000e+02,9.0,3.500000e+03,2.0,2.0,2.0,1.0
457667,78.0,7.0,b'07',b'17',b'2024',1100.0,b'2024001346',2.024001e+09,NaN,NaN,...,4.0,9.0,1.0,7.000000e+00,1.0,1.400000e+02,1.0,1.0,1.0,2.0
457668,78.0,7.0,b'07',b'20',b'2024',1200.0,b'2024001347',2.024001e+09,NaN,NaN,...,NaN,NaN,9.0,9.000000e+02,9.0,9.990000e+04,9.0,NaN,NaN,NaN
457669,78.0,7.0,b'07',b'18',b'2024',1100.0,b'2024001348',2.024001e+09,NaN,NaN,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,9.0

In [5]:
df

,_STATE,FMONTH,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,PVTRESD1,...,_LCSCTSN,_LCSPSTF,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK3,_RFDRHV9,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,2.0,b'02',b'28',b'2024',1100.0,b'2024000001',2.024000e+09,1.0,1.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,2.0,b'02',b'21',b'2024',1100.0,b'2024000002',2.024000e+09,1.0,1.0,...,4.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
2,1.0,2.0,b'02',b'21',b'2024',1100.0,b'2024000003',2.024000e+09,1.0,1.0,...,4.0,2.0,1.0,1.000000e+02,2.0,1.400000e+03,1.0,NaN,NaN,2.0
3,1.0,2.0,b'02',b'28',b'2024',1100.0,b'2024000004',2.024000e+09,1.0,1.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
4,1.0,2.0,b'02',b'21',b'2024',1100.0,b'2024000005',2.024000e+09,1.0,1.0,...,3.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457665,78.0,7.0,b'07',b'12',b'2024',1200.0,b'2024001344',2.024001e+09,NaN,NaN,...,NaN,NaN,9.0,9.000000e+02,9.0,9.990000e+04,9.0,9.0,9.0,NaN
457666,78.0,7.0,b'07',b'18',b'2024',1100.0,b'2024001345',2.024001e+09,NaN,NaN,...,4.0,2.0,1.0,1.000000e+02,9.0,3.500000e+03,2.0,2.0,2.0,1.0
457667,78.0,7.0,b'07',b'17',b'2024',1100.0,b'2024001346',2.024001e+09,NaN,NaN,...,4.0,9.0,1.0,7.000000e+00,1.0,1.400000e+02,1.0,1.0,1.0,2.0
457668,78.0,7.0,b'07',b'20',b'2024',1200.0,b'2024001347',2.024001e+09,NaN,NaN,...,NaN,NaN,9.0,9.000000e+02,9.0,9.990000e+04,9.0,NaN,NaN,NaN
457669,78.0,7.0,b'07',b'18',b'2024',1100.0,b'2024001348',2.024001e+09,NaN,NaN,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,9.0

In [6]:
df.drop(['_STATE','FMONTH','IMONTH','IDAY','IYEAR','DISPCODE'], axis=1, inplace=True)
df

,SEQNO,_PSU,CTELENM1,PVTRESD1,COLGHOUS,STATERE1,CELPHON1,LADULT1,NUMADULT,RESPSLC1,...,_LCSCTSN,_LCSPSTF,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK3,_RFDRHV9,_FLSHOT7,_PNEUMO3,_AIDTST4
0,b'2024000001',2.024000e+09,1.0,1.0,NaN,1.0,2.0,1.0,1.0,NaN,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,b'2024000002',2.024000e+09,1.0,1.0,NaN,1.0,2.0,1.0,2.0,1.0,...,4.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
2,b'2024000003',2.024000e+09,1.0,1.0,NaN,1.0,2.0,1.0,3.0,1.0,...,4.0,2.0,1.0,1.000000e+02,2.0,1.400000e+03,1.0,NaN,NaN,2.0
3,b'2024000004',2.024000e+09,1.0,1.0,NaN,1.0,2.0,1.0,1.0,NaN,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
4,b'2024000005',2.024000e+09,1.0,1.0,NaN,1.0,2.0,1.0,3.0,1.0,...,3.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457665,b'2024001344',2.024001e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.0,9.000000e+02,9.0,9.990000e+04,9.0,9.0,9.0,NaN
457666,b'2024001345',2.024001e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,2.0,1.0,1.000000e+02,9.0,3.500000e+03,2.0,2.0,2.0,1.0
457667,b'2024001346',2.024001e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,9.0,1.0,7.000000e+00,1.0,1.400000e+02,1.0,1.0,1.0,2.0
457668,b'2024001347',2.024001e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.0,9.000000e+02,9.0,9.990000e+04,9.0,NaN,NaN,NaN
457669,b'2024001348',2.024001e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,9.0

In [7]:
df.drop(['SEQNO','_PSU','CTELENM1','PVTRESD1','COLGHOUS','STATERE1','CELPHON1'], axis=1, inplace=True)
df

,LADULT1,NUMADULT,RESPSLC1,LANDSEX3,SAFETIME,CTELNUM1,CELLFON5,CADULT1,CELLSEX3,PVTRESD3,...,_LCSCTSN,_LCSPSTF,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK3,_RFDRHV9,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
2,1.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,2.0,1.0,1.000000e+02,2.0,1.400000e+03,1.0,NaN,NaN,2.0
3,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
4,1.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457665,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,9.0,9.000000e+02,9.0,9.990000e+04,9.0,9.0,9.0,NaN
457666,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,...,4.0,2.0,1.0,1.000000e+02,9.0,3.500000e+03,2.0,2.0,2.0,1.0
457667,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,...,4.0,9.0,1.0,7.000000e+00,1.0,1.400000e+02,1.0,1.0,1.0,2.0
457668,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,9.0,9.000000e+02,9.0,9.990000e+04,9.0,NaN,NaN,NaN
457669,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,9.0

In [8]:
df.drop(['RESPSLC1','SAFETIME','CTELNUM1','CELLFON5','PVTRESD3','CCLGHOUS'], axis=1, inplace=True)
df

,LADULT1,NUMADULT,LANDSEX3,CADULT1,CELLSEX3,CSTATE1,LANDLINE,HHADULT,SEXVAR,GENHLTH,...,_LCSCTSN,_LCSPSTF,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK3,_RFDRHV9,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,3.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,...,4.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
2,1.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0,...,4.0,2.0,1.0,1.000000e+02,2.0,1.400000e+03,1.0,NaN,NaN,2.0
3,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
4,1.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,3.0,...,3.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457665,NaN,NaN,NaN,1.0,1.0,1.0,2.0,2.0,1.0,7.0,...,NaN,NaN,9.0,9.000000e+02,9.0,9.990000e+04,9.0,9.0,9.0,NaN
457666,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,4.0,...,4.0,2.0,1.0,1.000000e+02,9.0,3.500000e+03,2.0,2.0,2.0,1.0
457667,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,3.0,...,4.0,9.0,1.0,7.000000e+00,1.0,1.400000e+02,1.0,1.0,1.0,2.0
457668,NaN,NaN,NaN,1.0,1.0,1.0,2.0,2.0,1.0,1.0,...,NaN,NaN,9.0,9.000000e+02,9.0,9.990000e+04,9.0,NaN,NaN,NaN
457669,NaN,NaN,NaN,1.0,1.0,1.0,2.0,4.0,1.0,3.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,9.0

In [9]:
df.drop(['CSTATE1','LANDLINE','HHADULT','SEXVAR','PRIMINS2','RMVTETH4','CHCSCNC1','CHCCOPD3','HAVARTH4','EDUCA','RENTHOM1','NUMHHOL4','CPDEMO1C','VETERAN3','EMPLOY1','CHILDREN','INCOME3','HEIGHT3','DEAF','BLIND','DIFFALON','HADMAM','HOWLONG','CERVSCRN','CRVCLCNC','CRVCLPAP','CRVCLHPV','HADHYST2','HADSIGM4','COLNSIGM','COLNTES1','SIGMTES1','LASTSIG4','COLNCNCR','VIRCOLO1','VCLNTES2','SMALSTOL','STOLTEST','STOLTEST','BLDSTFIT','SDNATES1','USENOW3','ECIGNOW3','LCSCTSC1','LCSSCNCR','LCSCTWHN','MAXDRNKS','FLUSHOT7','FLSHTMY3','IMFVPLA5','PNEUVAC4','HIVTST7','HIVTSTD3','HIVRISK5','PDIABTS1','PREDIAB2','CHKHEMO3','EYEEXAM1','DIABEYE1','DIABEDU1','ARTHEXER','SHINGLE2','HPVADVC4','HPVADSH1','TETANUS1','CNCRAGE','CSRVTRT3'], axis=1, inplace=True)
df

,LADULT1,NUMADULT,LANDSEX3,CADULT1,CELLSEX3,GENHLTH,PHYSHLTH,MENTHLTH,POORHLTH,PERSDOC3,...,_LCSCTSN,_LCSPSTF,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK3,_RFDRHV9,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,2.0,NaN,NaN,3.0,2.0,88.0,88.0,2.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,2.0,1.0,NaN,NaN,1.0,88.0,88.0,NaN,1.0,...,4.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
2,1.0,3.0,1.0,NaN,NaN,2.0,30.0,88.0,1.0,3.0,...,4.0,2.0,1.0,1.000000e+02,2.0,1.400000e+03,1.0,NaN,NaN,2.0
3,1.0,1.0,1.0,NaN,NaN,1.0,88.0,88.0,NaN,1.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
4,1.0,3.0,1.0,NaN,NaN,3.0,88.0,88.0,NaN,1.0,...,3.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457665,NaN,NaN,NaN,1.0,1.0,7.0,77.0,2.0,77.0,1.0,...,NaN,NaN,9.0,9.000000e+02,9.0,9.990000e+04,9.0,9.0,9.0,NaN
457666,NaN,NaN,NaN,1.0,1.0,4.0,5.0,1.0,88.0,3.0,...,4.0,2.0,1.0,1.000000e+02,9.0,3.500000e+03,2.0,2.0,2.0,1.0
457667,NaN,NaN,NaN,1.0,1.0,3.0,88.0,88.0,NaN,2.0,...,4.0,9.0,1.0,7.000000e+00,1.0,1.400000e+02,1.0,1.0,1.0,2.0
457668,NaN,NaN,NaN,1.0,1.0,1.0,88.0,88.0,NaN,2.0,...,NaN,NaN,9.0,9.000000e+02,9.0,9.990000e+04,9.0,NaN,NaN,NaN
457669,NaN,NaN,NaN,1.0,1.0,3.0,30.0,88.0,30.0,1.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,9.0

In [10]:
df.drop(['CSRVDOC1','CSRVSUM','CSRVRTRN','CSRVINST','CSRVINSR','CSRVDEIN','CSRVCLIN','CSRVPAIN','CSRVCTL2','PSATEST1','PSATIME1','PCPSARS2','PSASUGS1','PCSTALK2','CDWORRY','CDDISCU1','CDHOUS1','CDSOCIA1','CAREGIV1','CRGVREL5','CRGVALZD','CRGVNURS','CRGVPER2','CRGVHOU2','CRGVHRS2','CRGVLNG2','ACEDRINK','ACEDRUGS','ACEPRISN','ACEDIVRC','ACEPUNCH','ACEHURT1','ACESWEAR','ACETOUCH','ACETTHEM','ACEHVSEX','ACEADSAF','ACEADNED','EMTSUPRT','SDHEMPLY','FOODSTMP','SDHFOOD1','SDHBILLS','SDHUTILS','SDHTRNSP','HOWSAFE1','MARIJAN1','MARJSMOK','MARJEAT','MARJVAPE','MARJDAB','MARJOTHR','STOPSMK2','MENTCIGS','MENTECIG','HEATTBCO','SSBSUGR2','SSBFRUT3','FIREARM5','GUNLOAD','LOADULK2','RCSRLTN2','CASTHDX2','CASTHNO2','SOMALE','SOFEMALE','PFPPRVN4','TYPCNTR9','NOBCUSE8','QSTVER','QSTLANG','MSCODE','_STSTR','_STRWT','_RAWRAKE','_WT2RAKE','_IMPRACE','_CHISPNC','_CRACE1','CAGEG'], axis=1, inplace=True)
df

,LADULT1,NUMADULT,LANDSEX3,CADULT1,CELLSEX3,GENHLTH,PHYSHLTH,MENTHLTH,POORHLTH,PERSDOC3,...,_LCSCTSN,_LCSPSTF,DRNKANY6,DROCDY4_,_RFBING6,_DRNKWK3,_RFDRHV9,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,2.0,NaN,NaN,3.0,2.0,88.0,88.0,2.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,2.0,2.0
1,1.0,2.0,1.0,NaN,NaN,1.0,88.0,88.0,NaN,1.0,...,4.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
2,1.0,3.0,1.0,NaN,NaN,2.0,30.0,88.0,1.0,3.0,...,4.0,2.0,1.0,1.000000e+02,2.0,1.400000e+03,1.0,NaN,NaN,2.0
3,1.0,1.0,1.0,NaN,NaN,1.0,88.0,88.0,NaN,1.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,1.0,1.0,2.0
4,1.0,3.0,1.0,NaN,NaN,3.0,88.0,88.0,NaN,1.0,...,3.0,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457665,NaN,NaN,NaN,1.0,1.0,7.0,77.0,2.0,77.0,1.0,...,NaN,NaN,9.0,9.000000e+02,9.0,9.990000e+04,9.0,9.0,9.0,NaN
457666,NaN,NaN,NaN,1.0,1.0,4.0,5.0,1.0,88.0,3.0,...,4.0,2.0,1.0,1.000000e+02,9.0,3.500000e+03,2.0,2.0,2.0,1.0
457667,NaN,NaN,NaN,1.0,1.0,3.0,88.0,88.0,NaN,2.0,...,4.0,9.0,1.0,7.000000e+00,1.0,1.400000e+02,1.0,1.0,1.0,2.0
457668,NaN,NaN,NaN,1.0,1.0,1.0,88.0,88.0,NaN,2.0,...,NaN,NaN,9.0,9.000000e+02,9.0,9.990000e+04,9.0,NaN,NaN,NaN
457669,NaN,NaN,NaN,1.0,1.0,3.0,30.0,88.0,30.0,1.0,...,NaN,9.0,2.0,5.397605e-79,1.0,5.397605e-79,1.0,NaN,NaN,9.0

In [11]:
df.drop(['_CLLCPWT','_DUALUSE','_DUALCOR','_LLCPWT2','_LLCPWT','_RFHLTH','_EXTETH3','_ALTETH3','_DENVST3','_MICHD','_LTASTH1','_CASTHM1','_ASTHMS1','_DRDXAR2','_MRACE1','_HISPANC','_RACE','_RACEG21','_RACEGR3','_RACEPRV','HTIN4','HTM4','_CHLDCNT','_EDUCAG','_INCOMG1','_RFMAM23','_MAM402Y','_CRVSCRN','_RFPAP37','_HPV5YR1','_PAPHPV1','_HADCOLN','_CLNSCP2','_HADSIGM','_SGMSCP2','_SGMS102','_RFBLDS6','_STOLDN2','_VIRCOL2','_SBONTI2','_CRCREC3','_CURECI3','LCSLAST_','_LCSAGE','_PACKYRS','_LCSYQTS','_LCSSMKG','_LCSELIG','_LCSCTSN','_LCSPSTF','DRNKANY6','DROCDY4_','_RFBING6','_DRNKWK3','_PNEUMO3','_AIDTST4'], axis=1, inplace=True)
df

,LADULT1,NUMADULT,LANDSEX3,CADULT1,CELLSEX3,GENHLTH,PHYSHLTH,MENTHLTH,POORHLTH,PERSDOC3,...,_BMI5,_BMI5CAT,_RFBMI5,_SMOKER3,_RFSMOK3,LCSNUMC_,_LCSYSMK,_PACKDAY,_RFDRHV9,_FLSHOT7
0,1.0,1.0,2.0,NaN,NaN,3.0,2.0,88.0,88.0,2.0,...,2249.0,2.0,1.0,4.0,1.0,NaN,NaN,NaN,1.0,1.0
1,1.0,2.0,1.0,NaN,NaN,1.0,88.0,88.0,NaN,1.0,...,2583.0,3.0,2.0,3.0,1.0,20.0,2.0,100.0,1.0,1.0
2,1.0,3.0,1.0,NaN,NaN,2.0,30.0,88.0,1.0,3.0,...,2253.0,2.0,1.0,1.0,2.0,15.0,45.0,75.0,1.0,NaN
3,1.0,1.0,1.0,NaN,NaN,1.0,88.0,88.0,NaN,1.0,...,2509.0,3.0,2.0,4.0,1.0,NaN,NaN,NaN,1.0,1.0
4,1.0,3.0,1.0,NaN,NaN,3.0,88.0,88.0,NaN,1.0,...,1977.0,2.0,1.0,4.0,1.0,NaN,NaN,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457665,NaN,NaN,NaN,1.0,1.0,7.0,77.0,2.0,77.0,1.0,...,NaN,NaN,9.0,9.0,9.0,NaN,NaN,NaN,9.0,9.0
457666,NaN,NaN,NaN,1.0,1.0,4.0,5.0,1.0,88.0,3.0,...,2066.0,2.0,1.0,1.0,2.0,10.0,50.0,50.0,2.0,2.0
457667,NaN,NaN,NaN,1.0,1.0,3.0,88.0,88.0,NaN,2.0,...,2437.0,2.0,1.0,4.0,1.0,NaN,NaN,NaN,1.0,1.0
457668,NaN,NaN,NaN,1.0,1.0,1.0,88.0,88.0,NaN,2.0,...,2441.0,2.0,1.0,3.0,1.0,NaN,NaN,NaN,9.0,NaN
457669,NaN,NaN,NaN,1.0,1.0,3.0,30.0,88.0,30.0,1.0,...,2647.0,3.0,2.0,4.0,1.0,NaN,NaN,NaN,1.0,NaN

In [13]:
df.drop('_FLSHOT7',axis=1,inplace=True)

In [14]:
df.drop(['LCSNUMC_','_RFSMOK3','_SMOKER3','_RFBMI5','_BMI5','WTKG3','_AGE_G','_AGEG5YR'], axis=1,inplace=True)

In [15]:
df.drop(['_HCVU654','HADSEX','ACEDEPRS','CRGVPRB4','CIMEMLO1','CNCRTYP2','CNCRDIFF'], axis=1,inplace=True)

In [16]:
df.drop(['FEETSORE','ALCDAY4','LCSFIRST','DECIDE','PREGNANT','MARITAL','DIABAGE4','ADDEPEV3','CHCOCNC1','MEDCOST1','PERSDOC3','POORHLTH',], axis=1,inplace=True)

In [17]:
df.dropna(subset=['DIFFWALK'],inplace=True)

In [18]:
df.dropna(subset=['GENHLTH'])

,LADULT1,NUMADULT,LANDSEX3,CADULT1,CELLSEX3,GENHLTH,PHYSHLTH,MENTHLTH,CHECKUP1,EXERANY2,...,_MENT14D,_HLTHPL2,_TOTINDA,_SEX,_AGE65YR,_AGE80,_BMI5CAT,_LCSYSMK,_PACKDAY,_RFDRHV9
0,1.0,1.0,2.0,NaN,NaN,3.0,2.0,88.0,1.0,1.0,...,1.0,1.0,1.0,2.0,2.0,78.0,2.0,NaN,NaN,1.0
1,1.0,2.0,1.0,NaN,NaN,1.0,88.0,88.0,1.0,1.0,...,1.0,1.0,1.0,1.0,2.0,80.0,3.0,2.0,100.0,1.0
2,1.0,3.0,1.0,NaN,NaN,2.0,30.0,88.0,4.0,1.0,...,1.0,1.0,1.0,1.0,1.0,59.0,2.0,45.0,75.0,1.0
3,1.0,1.0,1.0,NaN,NaN,1.0,88.0,88.0,1.0,1.0,...,1.0,1.0,1.0,1.0,2.0,80.0,3.0,NaN,NaN,1.0
4,1.0,3.0,1.0,NaN,NaN,3.0,88.0,88.0,1.0,2.0,...,1.0,1.0,2.0,1.0,1.0,47.0,2.0,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457664,NaN,NaN,NaN,1.0,1.0,5.0,30.0,88.0,2.0,2.0,...,1.0,1.0,2.0,1.0,2.0,69.0,3.0,NaN,NaN,1.0
457666,NaN,NaN,NaN,1.0,1.0,4.0,5.0,1.0,2.0,2.0,...,2.0,2.0,2.0,1.0,2.0,67.0,2.0,50.0,50.0,2.0
457667,NaN,NaN,NaN,1.0,1.0,3.0,88.0,88.0,3.0,2.0,...,1.0,1.0,2.0,1.0,2.0,76.0,2.0,NaN,NaN,1.0
457668,NaN,NaN,NaN,1.0,1.0,1.0,88.0,88.0,2.0,1.0,...,1.0,1.0,1.0,1.0,1.0,46.0,2.0,NaN,NaN,9.0
457669,NaN,NaN,NaN,1.0,1.0,3.0,30.0,88.0,1.0,1.0,...,1.0,2.0,1.0,1.0,1.0,64.0,3.0,NaN,NaN,1.0

In [20]:
df['Adult'] = ((df['LADULT1'] == 1) | (df['CADULT1'] == 1)).astype(int)
df

C:\Users\abhia\AppData\Local\Temp\ipykernel_20216\1733312623.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Adult'] = ((df['LADULT1'] == 1) | (df['CADULT1'] == 1)).astype(int)

,LADULT1,NUMADULT,LANDSEX3,CADULT1,CELLSEX3,GENHLTH,PHYSHLTH,MENTHLTH,CHECKUP1,EXERANY2,...,_HLTHPL2,_TOTINDA,_SEX,_AGE65YR,_AGE80,_BMI5CAT,_LCSYSMK,_PACKDAY,_RFDRHV9,Adult
0,1.0,1.0,2.0,NaN,NaN,3.0,2.0,88.0,1.0,1.0,...,1.0,1.0,2.0,2.0,78.0,2.0,NaN,NaN,1.0,1
1,1.0,2.0,1.0,NaN,NaN,1.0,88.0,88.0,1.0,1.0,...,1.0,1.0,1.0,2.0,80.0,3.0,2.0,100.0,1.0,1
2,1.0,3.0,1.0,NaN,NaN,2.0,30.0,88.0,4.0,1.0,...,1.0,1.0,1.0,1.0,59.0,2.0,45.0,75.0,1.0,1
3,1.0,1.0,1.0,NaN,NaN,1.0,88.0,88.0,1.0,1.0,...,1.0,1.0,1.0,2.0,80.0,3.0,NaN,NaN,1.0,1
4,1.0,3.0,1.0,NaN,NaN,3.0,88.0,88.0,1.0,2.0,...,1.0,2.0,1.0,1.0,47.0,2.0,NaN,NaN,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457664,NaN,NaN,NaN,1.0,1.0,5.0,30.0,88.0,2.0,2.0,...,1.0,2.0,1.0,2.0,69.0,3.0,NaN,NaN,1.0,1
457666,NaN,NaN,NaN,1.0,1.0,4.0,5.0,1.0,2.0,2.0,...,2.0,2.0,1.0,2.0,67.0,2.0,50.0,50.0,2.0,1
457667,NaN,NaN,NaN,1.0,1.0,3.0,88.0,88.0,3.0,2.0,...,1.0,2.0,1.0,2.0,76.0,2.0,NaN,NaN,1.0,1
457668,NaN,NaN,NaN,1.0,1.0,1.0,88.0,88.0,2.0,1.0,...,1.0,1.0,1.0,1.0,46.0,2.0,NaN,NaN,9.0,1
457669,NaN,NaN,NaN,1.0,1.0,3.0,30.0,88.0,1.0,1.0,...,2.0,1.0,1.0,1.0,64.0,3.0,NaN,NaN,1.0,1

In [21]:
df.drop(['INSULIN1'],inplace=True,axis=1)

C:\Users\abhia\AppData\Local\Temp\ipykernel_20216\304819471.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['INSULIN1'],inplace=True,axis=1)

In [22]:
df.drop(['NUMPHON4','CADULT1','LADULT1','NUMADULT','ASTHNOW','STOOLDN2','SMOKDAY2',],inplace=True,axis=1)

C:\Users\abhia\AppData\Local\Temp\ipykernel_20216\3314610905.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['NUMPHON4','CADULT1','LADULT1','NUMADULT','ASTHNOW','STOOLDN2','SMOKDAY2',],inplace=True,axis=1)

In [19]:
df = df.dropna(subset=['CHCKDNY2'])

In [25]:
df.drop(['DIABTYPE'],axis=1,inplace=True)

C:\Users\abhia\AppData\Local\Temp\ipykernel_20216\2053851025.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['DIABTYPE'],axis=1,inplace=True)

In [26]:
df.drop(['HPVDSHT','ICFQSTVR'],axis=1,inplace=True)

C:\Users\abhia\AppData\Local\Temp\ipykernel_20216\2220378032.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['HPVDSHT','ICFQSTVR'],axis=1,inplace=True)

In [29]:
df.drop(['SDLONELY','_PACKDAY','_LCSYSMK','LANDSEX3','CELLSEX3','LCSNUMCG','CVDSTRK3'],axis=1,inplace=True)

C:\Users\abhia\AppData\Local\Temp\ipykernel_20216\3155926573.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['SDLONELY','_PACKDAY','_LCSYSMK','LANDSEX3','CELLSEX3','LCSNUMCG','CVDSTRK3'],axis=1,inplace=True)

In [31]:
df.dropna(subset=['SMOKE100'], inplace=True)

C:\Users\abhia\AppData\Local\Temp\ipykernel_20216\2749991382.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['SMOKE100'], inplace=True)

In [33]:
df.rename(columns={'AVEDRNK4': 'Number of drinks'}, inplace=True)

C:\Users\abhia\AppData\Local\Temp\ipykernel_20216\165086084.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'AVEDRNK4': 'Number of drinks'}, inplace=True)

In [34]:
df.rename(columns={'DRNK3GE5': 'drinks_frequency'}, inplace=True)

C:\Users\abhia\AppData\Local\Temp\ipykernel_20216\3274636987.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'DRNK3GE5': 'drinks_frequency'}, inplace=True)

In [35]:
df.rename(columns={'CVDINFR4': 'had_hattack'}, inplace=True)

C:\Users\abhia\AppData\Local\Temp\ipykernel_20216\2217034143.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'CVDINFR4': 'had_hattack'}, inplace=True)

In [36]:
df.rename(columns={'_RFDRHV9': 'Heavy_drinkers'}, inplace=True)

C:\Users\abhia\AppData\Local\Temp\ipykernel_20216\1516679957.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'_RFDRHV9': 'Heavy_drinkers'}, inplace=True)

In [37]:
df = df.dropna(subset=['CHCKDNY2'])

In [38]:
df = df.dropna(subset=['Number of drinks'])

In [39]:
df = df.dropna(subset=['drinks_frequency'])

In [40]:
df = df.dropna(subset=['_BMI5CAT'])

In [41]:
df = df.dropna(subset=['DIFFWALK'])

In [42]:
df.drop('GENHLTH',axis=1,inplace=True)

In [43]:
df[~df.isin([777, 999, 99]).any(axis=1)]

,PHYSHLTH,MENTHLTH,CHECKUP1,EXERANY2,LASTDEN4,had_hattack,CVDCRHD4,ASTHMA3,CHCKDNY2,DIABETE4,...,_PHYS14D,_MENT14D,_HLTHPL2,_TOTINDA,_SEX,_AGE65YR,_AGE80,_BMI5CAT,Heavy_drinkers,Adult
2,30.0,88.0,4.0,1.0,4.0,2.0,2.0,2.0,2.0,3.0,...,3.0,1.0,1.0,1.0,1.0,1.0,59.0,2.0,1.0,1
15,1.0,88.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,...,2.0,1.0,1.0,1.0,2.0,2.0,75.0,3.0,1.0,1
26,30.0,88.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,3.0,...,3.0,1.0,1.0,2.0,2.0,1.0,62.0,4.0,1.0,1
33,6.0,2.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0,...,2.0,2.0,1.0,2.0,2.0,2.0,80.0,2.0,1.0,1
38,88.0,88.0,1.0,1.0,3.0,2.0,2.0,2.0,2.0,4.0,...,1.0,1.0,1.0,1.0,2.0,2.0,67.0,4.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457655,88.0,88.0,1.0,1.0,3.0,2.0,2.0,2.0,2.0,3.0,...,1.0,1.0,1.0,1.0,1.0,1.0,20.0,2.0,1.0,1
457661,88.0,88.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,...,1.0,1.0,1.0,1.0,1.0,1.0,57.0,3.0,1.0,1
457662,1.0,15.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,1.0,...,2.0,3.0,2.0,2.0,1.0,1.0,57.0,4.0,1.0,1
457666,5.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0,...,2.0,2.0,2.0,2.0,1.0,2.0,67.0,2.0,2.0,1
457667,88.0,88.0,3.0,2.0,3.0,2.0,2.0,1.0,2.0,1.0,...,1.0,1.0,1.0,2.0,1.0,2.0,76.0,2.0,1.0,1

In [44]:
df=df[~df['Heavy_drinkers'].isin([777, 999, 99])]

In [45]:
df['Heavy_drinkers'].isin([9]).any()

np.True_

In [46]:
df['_BMI5CAT'].isin([9999]).any()

np.False_

In [47]:
df=df[~df['_AGE65YR'].isin([4])]

In [48]:
df=df[~df['_TOTINDA'].isin([9])]

In [49]:
df=df[~df['Heavy_drinkers'].isin([9])]

In [50]:
df=df[~df['_MENT14D'].isin([9])]

In [51]:
df=df[~df['_PHYS14D'].isin([9])]

In [52]:
df=df[~df['SMOKE100'].isin([9])]

In [55]:
df=df[~df['DIFFWALK'].isin([9])]

In [56]:
df=df[~df['DIABETE4'].isin([9])]

In [57]:
df=df[~df['ASTHMA3'].isin([9])]

In [58]:
df=df[~df['CVDCRHD4'].isin([9])]

In [59]:
df=df[~df['EXERANY2'].isin([9,7])]

In [60]:
df=df[~df['CHECKUP1'].isin([9])]

In [ ]:
df = df.reset_index(drop=True)