In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('preprocessed.csv')
df

,Unnamed: 0,CHECKUP1,EXERANY2,LASTDEN4,had_hattack,CVDCRHD4,ASTHMA3,CHCKDNY2,DIABETE4,WEIGHT2,...,drinks_frequency,_PHYS14D,_MENT14D,_HLTHPL2,_TOTINDA,_SEX,_AGE65YR,_BMI5CAT,Heavy_drinkers,Adult
0,2,4.0,1.0,4.0,2.0,2.0,2.0,2.0,3.0,195.0,...,3.0,3.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1
1,15,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,178.0,...,88.0,2.0,1.0,1.0,1.0,2.0,2.0,3.0,1.0,1
2,25,2.0,2.0,2.0,2.0,2.0,1.0,2.0,3.0,217.0,...,88.0,3.0,1.0,1.0,2.0,2.0,1.0,4.0,1.0,1
3,32,1.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0,146.0,...,88.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,1.0,1
4,37,1.0,1.0,3.0,2.0,2.0,2.0,2.0,4.0,200.0,...,88.0,1.0,1.0,1.0,1.0,2.0,2.0,4.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192164,428793,1.0,1.0,3.0,2.0,2.0,2.0,2.0,3.0,130.0,...,88.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1
192165,428796,2.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,200.0,...,88.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0,1
192166,428797,1.0,2.0,1.0,2.0,2.0,2.0,2.0,1.0,190.0,...,10.0,2.0,3.0,2.0,2.0,1.0,1.0,4.0,1.0,1
192167,428800,2.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0,128.0,...,77.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1
192168,428801,3.0,2.0,3.0,2.0,2.0,1.0,2.0,1.0,165.0,...,88.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0,1

In [3]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [4]:
df.head(50)

,CHECKUP1,EXERANY2,LASTDEN4,had_hattack,CVDCRHD4,ASTHMA3,CHCKDNY2,DIABETE4,WEIGHT2,DIFFWALK,...,drinks_frequency,_PHYS14D,_MENT14D,_HLTHPL2,_TOTINDA,_SEX,_AGE65YR,_BMI5CAT,Heavy_drinkers,Adult
0,4.0,1.0,4.0,2.0,2.0,2.0,2.0,3.0,195.0,2.0,...,3.0,3.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1
1,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,178.0,2.0,...,88.0,2.0,1.0,1.0,1.0,2.0,2.0,3.0,1.0,1
2,2.0,2.0,2.0,2.0,2.0,1.0,2.0,3.0,217.0,1.0,...,88.0,3.0,1.0,1.0,2.0,2.0,1.0,4.0,1.0,1
3,1.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0,146.0,1.0,...,88.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,1.0,1
4,1.0,1.0,3.0,2.0,2.0,2.0,2.0,4.0,200.0,2.0,...,88.0,1.0,1.0,1.0,1.0,2.0,2.0,4.0,1.0,1
5,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,155.0,2.0,...,88.0,1.0,2.0,1.0,1.0,2.0,2.0,2.0,1.0,1
6,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,200.0,2.0,...,88.0,1.0,1.0,1.0,1.0,1.0,2.0,4.0,1.0,1
7,1.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,160.0,2.0,...,1.0,1.0,1.0,1.0,1.0,2.0,2.0,3.0,1.0,1
8,1.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0,192.0,2.0,...,10.0,1.0,1.0,1.0,2.0,1.0,1.0,4.0,1.0,1
9,1.0,1.0,1.0,2.0,2.0,1.0,2.0,3.0,175.0,1.0,...,88.0,1.0,1.0,1.0,1.0,2.0,1.0,4.0,1.0,1
10,1.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,165.0,2.0,...,3.0,2.0,1.0,1.0,2.0,2.0,1.0,4.0,2.0,1
11,2.0,1.0,1.0,2.0,1.0,1.0,2.0,3.0,125.0,2.0,...,88.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,1
12,1.0,1.0,4.0,2.0,2.0,2.0,2.0,3.0,140.0,2.0,...,1.0,1.0,3.0,1.0,1.0,1.0,2.0,2.0,2.0,1
13,1.0,1.0,2.0,2.0,2.0,2.0,2.0,3.0,266.0,1.0,...,88.0,2.0,3.0,1.0,1.0,2.0,1.0,4.0,1.0,1
14,2.0,2.0,4.0,2.0,2.0,2.0,2.0,3.0,220.0,1.0,...,88.0,2.0,1.0,1.0,2.0,1.0,2.0,4.0,1.0,1
15,2.0,1.0,3.0,2.0,2.0,2.0,2.0,3.0,140.0,2.0,...,88.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1
16,1.0,2.0,2.0,1.0,1.0,2.0,2.0,3.0,104.0,2.0,...,88.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,1
17,2.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,161.0,2.0,...,88.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1
18,1.0,2.0,1.0,2.0,2.0,2.0,2.0,1.0,137.0,2.0,...,88.0,1.0,1.0,1.0,2.0,2.0,2.0,3.0,1.0,1
19,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,150.0,2.0,...,88.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,1
20,1.0,1.0,1.0,2.0,2.0,1.0,2.0,4.0,251.0,2.0,...,88.0,2.0,3.0,1.0,1.0,2.0,1.0,4.0,1.0,1
21,1.0,1.0,4.0,2.0,2.0,2.0,2.0,3.0,155.0,2.0,...,88.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,1
22,1.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0,250.0,1.0,...,88.0,2.0,2.0,1.0,2.0,2.0,1.0,4.0,1.0,1
23,2.0,1.0,1.0,2.0,2.0,1.0,2.0,3.0,190.0,2.0,...,88.0,1.0,1.0,1.0,1.0,1.0,2.0,3.0,1.0,1
24,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,165.0,2.0,...,88.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,1
25,1.0,2.0,3.0,1.0,1.0,2.0,2.0,3.0,238.0,2.0,...,88.0,1.0,1.0,1.0,2.0,1.0,2.0,3.0,1.0,1
26,1.0,1.0,1.0,2.0,2.0,2.0,2.0,1.0,140.0,2.0,...,88.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1
27,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,132.0,2.0,...,88.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1
28,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,150.0,1.0,...,88.0,1.0,2.0,1.0,1.0,2.0,2.0,3.0,1.0,1
29,1.0,2.0,7.0,2.0,2.0,1.0,2.0,3.0,135.0,2.0,...,88.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0,1
30,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,170.0,2.0,...,88.0,1.0,2.0,1.0,1.0,2.0,2.0,4.0,1.0,1
31,1.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,240.0,1.0,...,1.0,3.0,2.0,1.0,1.0,2.0,2.0,4.0,1.0,1
32,1.0,1.0,2.0,2.0,2.0,1.0,2.0,3.0,197.0,2.0,...,88.0,3.0,1.0,1.0,1.0,2.0,2.0,4.0,1.0,1
33,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,160.0,2.0,...,88.0,2.0,1.0,1.0,1.0,2.0,2.0,4.0,1.0,1
34,1.0,1.0,7.0,2.0,2.0,2.0,2.0,3.0,120.0,2.0,...,88.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1
35,1.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0,150.0,2.0,...,88.0,1.0,1.0,1.0,2.0,2.0,2.0,3.0,1.0,1
36,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,190.0,2.0,...,88.0,1.0,1.0,1.0,1.0,1.0,2.0,3.0,1.0,1
37,1.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,160.0,2.0,...,88.0,3.0,3.0,1.0,2.0,1.0,2.0,3.0,1.0,1
38,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,275.0,2.0,...,4.0,1.0,1.0,1.0,1.0,1.0,2.0,4.0,1.0,1
39,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,140.0,2.0,...,88.0,2.0,1.0,1.0,1.0,2.0,1.0,2.0,1.0,1
40,1.0,2.0,3.0,2.0,2.0,2.0,2.0,3.0,260.0,1.0,...,88.0,1.0,1.0,1.0,2.0,2.0,1.0,4.0,1.0,1
41,1.0,2.0,2.0,2.0,7.0,1.0,2.0,1.0,162.0,1.0,...,88.0,1.0,2.0,1.0,2.0,2.0,2.0,3.0,1.0,1
42,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,104.0,2.0,...,88.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1
43,1.0,2.0,3.0,2.0,2.0,2.0,2.0,3.0,240.0,2.0,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,4.0,1.0,1
44,2.0,2.0,3.0,2.0,2.0,2.0,2.0,1.0,180.0,1.0,...,77.0,3.0,1.0,1.0,2.0,1.0,1.0,3.0,1.0,1
45,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,110.0,2.0,...,88.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1
46,1.0,1.0,1.0,1.0,2.0,2.0,2.0,3.0,168.0,2.0,...,88.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1
47,7.0,1.0,3.0,2.0,2.0,2.0,2.0,3.0,155.0,2.0,...,2.0,1.0,1.0,1.0,1.0,1.0,2.0,3.0,1.0,1
48,1.0,1.0,2.0,1.0,1.0,2.0,2.0,1.0,198.0,1.0,...,1.0,2.0,1.0,1.0,1.0,2.0,2.0,4.0,1.0,1
49,1.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0,195.0,2.0,...,88.0,2.0,1.0,1.0,2.0,1.0,2.0,4.0,1.0,1

In [5]:
df['Heavy_drinkers'] = df['Heavy_drinkers'].replace({1: 0, 2: 1})

In [6]:
df['Heavy_drinkers'].value_counts()

Heavy_drinkers
0.0    169656
1.0     22513
Name: count, dtype: int64

In [7]:
df.rename(columns={'_BMI5CAT': 'Bodymass_levels'}, inplace=True)
#df['Bodymass_level'] = df['Bodymass_level'].replace({1: 0, 2: 1})

In [8]:
df.isnull().sum()

CHECKUP1            0
EXERANY2            0
LASTDEN4            0
had_hattack         0
CVDCRHD4            0
ASTHMA3             0
CHCKDNY2            0
DIABETE4            0
WEIGHT2             0
DIFFWALK            0
SMOKE100            0
Number of drinks    0
drinks_frequency    0
_PHYS14D            0
_MENT14D            0
_HLTHPL2            0
_TOTINDA            0
_SEX                0
_AGE65YR            0
Bodymass_levels     0
Heavy_drinkers      0
Adult               0
dtype: int64

In [9]:
df.drop(['LASTDEN4'],inplace=True,axis=1)

In [10]:
df.drop(['EXERANY2'],inplace=True,axis=1)

In [11]:
df.drop(['CHECKUP1'],inplace=True,axis=1)

In [12]:
df.rename(columns={'_AGE65YR': 'AGE>65'}, inplace=True)
df['AGE>65'] = df['AGE>65'].replace({1: 0, 2: 1})

In [13]:
df.rename(columns={'_SEX': 'SEX'}, inplace=True)
df['SEX'] = df['SEX'].replace({1: 1, 2: 0})

In [14]:
df.rename(columns={'_TOTINDA': 'PHYSIC_ACT'}, inplace=True)
df['PHYSIC_ACT'] = df['PHYSIC_ACT'].replace({1: 1, 2: 0})

In [15]:
df.rename(columns={'_MENT14D': 'MENTALH_STATUS'}, inplace=True)
df['MENTALH_STATUS'] = df['MENTALH_STATUS'].replace({1: 1, 2: 0, 3:0})

In [16]:
df.rename(columns={'_HLTHPL2': 'HEALTH_INSU'}, inplace=True)
df['HEALTH_INSU'] = df['HEALTH_INSU'].replace({1: 1, 2: 0})

In [17]:
df['HEALTH_INSU'].value_counts()

HEALTH_INSU
1.0    178534
0.0      9028
9.0      4607
Name: count, dtype: int64

In [18]:
df=df[~df['HEALTH_INSU'].isin([9])]

In [19]:
df.rename(columns={'_PHYS14D': 'PHYSICH_STATUS'}, inplace=True)
df['PHYSICH_STATUS'] = df['PHYSICH_STATUS'].replace({1: 1, 2: 0, 3:0})

C:\Users\abhia\AppData\Local\Temp\ipykernel_29492\229949269.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'_PHYS14D': 'PHYSICH_STATUS'}, inplace=True)
C:\Users\abhia\AppData\Local\Temp\ipykernel_29492\229949269.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PHYSICH_STATUS'] = df['PHYSICH_STATUS'].replace({1: 1, 2: 0, 3:0})

In [20]:
df.rename(columns={'drinks_frequency': 'DRINK_FREQ30D'}, inplace=True)
df['DRINK_FREQ30D'] = df['DRINK_FREQ30D'].replace({88:0})

C:\Users\abhia\AppData\Local\Temp\ipykernel_29492\3860874164.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'drinks_frequency': 'DRINK_FREQ30D'}, inplace=True)
C:\Users\abhia\AppData\Local\Temp\ipykernel_29492\3860874164.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DRINK_FREQ30D'] = df['DRINK_FREQ30D'].replace({88:0})

In [21]:
df.rename(columns={'Number of drinks': 'DRINKSIN_30D'}, inplace=True)
df['DRINKSIN_30D'] = df['DRINKSIN_30D'].replace({88:0})

C:\Users\abhia\AppData\Local\Temp\ipykernel_29492\1345382366.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Number of drinks': 'DRINKSIN_30D'}, inplace=True)
C:\Users\abhia\AppData\Local\Temp\ipykernel_29492\1345382366.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DRINKSIN_30D'] = df['DRINKSIN_30D'].replace({88:0})

In [22]:
df.rename(columns={'SMOKE100': 'SMOKING100'}, inplace=True)
df['SMOKING100'] = df['SMOKING100'].replace({1:1,2:0})

C:\Users\abhia\AppData\Local\Temp\ipykernel_29492\526264839.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'SMOKE100': 'SMOKING100'}, inplace=True)
C:\Users\abhia\AppData\Local\Temp\ipykernel_29492\526264839.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SMOKING100'] = df['SMOKING100'].replace({1:1,2:0})

In [23]:
df['DIFFWALK'].value_counts()

DIFFWALK
2.0    168805
1.0     18467
7.0       290
Name: count, dtype: int64

In [24]:
df=df[~df['SMOKING100'].isin([7])]

In [25]:
#df.rename(columns={'SMOKE100': 'SMOKING100'}, inplace=True)
df['DIFFWALK'] = df['DIFFWALK'].replace({1:1,2:0})

In [26]:
df=df[~df['DIFFWALK'].isin([7])]

In [27]:
df

,had_hattack,CVDCRHD4,ASTHMA3,CHCKDNY2,DIABETE4,WEIGHT2,DIFFWALK,SMOKING100,DRINKSIN_30D,DRINK_FREQ30D,PHYSICH_STATUS,MENTALH_STATUS,HEALTH_INSU,PHYSIC_ACT,SEX,AGE>65,Bodymass_levels,Heavy_drinkers,Adult
0,2.0,2.0,2.0,2.0,3.0,195.0,0.0,1.0,2.0,3.0,0.0,1.0,1.0,1.0,1.0,0.0,2.0,0.0,1
1,2.0,2.0,2.0,2.0,3.0,178.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,3.0,0.0,1
2,2.0,2.0,1.0,2.0,3.0,217.0,1.0,0.0,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,4.0,0.0,1
3,2.0,2.0,2.0,2.0,3.0,146.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,1
4,2.0,2.0,2.0,2.0,4.0,200.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,4.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192163,2.0,2.0,2.0,2.0,3.0,158.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,3.0,1.0,1
192164,2.0,2.0,2.0,2.0,3.0,130.0,0.0,0.0,2.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,2.0,0.0,1
192165,2.0,2.0,2.0,2.0,3.0,200.0,0.0,1.0,2.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,3.0,0.0,1
192167,2.0,2.0,2.0,2.0,3.0,128.0,0.0,1.0,5.0,77.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,1.0,1
192168,2.0,2.0,1.0,2.0,1.0,165.0,0.0,0.0,3.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,2.0,0.0,1

In [28]:
import pandas as pd
import numpy as np

# Assume your dataframe is df and column name is 'WEIGHT2'

# Make a copy
df['WEIGHT_KG'] = df['WEIGHT2']

# Step 1: Convert pounds (50â€“776) to kg
mask_pounds = (df['WEIGHT2'] >= 50) & (df['WEIGHT2'] <= 776)
df.loc[mask_pounds, 'WEIGHT_KG'] = df.loc[mask_pounds, 'WEIGHT2'] * 0.453592

# Step 2: Convert metric-coded weights (9023â€“9352) to proper kg
# These are stored as 9xxx, so remove the leading 9000 part
mask_metric = (df['WEIGHT2'] >= 9023) & (df['WEIGHT2'] <= 9352)
df.loc[mask_metric, 'WEIGHT_KG'] = df.loc[mask_metric, 'WEIGHT2'] - 9000

# Step 3: Replace invalid/missing codes with NaN
df.loc[df['WEIGHT2'].isin([7777, 9999]), 'WEIGHT_KG'] = np.nan

# Optional: drop or handle missing
df = df.dropna(subset=['WEIGHT_KG'])

In [29]:
df.drop(['WEIGHT2'],inplace=True,axis=1)

In [30]:
df.rename(columns={'DIABETE4': 'HAD_DIABETES'}, inplace=True)
df['HAD_DIABETES'] = df['HAD_DIABETES'].replace({1:1,2:1,3:0,4:0})

In [31]:
df['HAD_DIABETES'].value_counts()

HAD_DIABETES
0.0    167040
1.0     19335
7.0       161
Name: count, dtype: int64

In [32]:
df=df[~df['HAD_DIABETES'].isin([7])]

In [33]:
df.rename(columns={'CHCKDNY2': 'KIDNEY_DIS'}, inplace=True)
df['KIDNEY_DIS'] = df['KIDNEY_DIS'].replace({1:1,2:0})

In [34]:
df['KIDNEY_DIS'].value_counts()

KIDNEY_DIS
0.0    179631
1.0      6339
7.0       405
Name: count, dtype: int64

In [35]:
df=df[~df['KIDNEY_DIS'].isin([7])]

In [36]:
df.rename(columns={'ASTHMA_NOW': 'HAD_ASTHMA'}, inplace=True)
df['HAD_ASTHMA'] = df['HAD_ASTHMA'].replace({1:1,2:0})

KeyError: 'HAD_ASTHMA'

In [ ]:
df['HAD_ASTHMA'].value_counts()

HAD_ASTHMA
0.0    157864
1.0     27625
Name: count, dtype: int64

In [ ]:
df=df[~df['HAD_ASTHMA'].isin([7])]

In [ ]:
df.rename(columns={'CVDCRHD4': 'HAD_HEARTDIS'}, inplace=True)
df['HAD_HEARTDIS'] = df['HAD_HEARTDIS'].replace({1:1,2:0})

C:\Users\abhia\AppData\Local\Temp\ipykernel_28428\3154289903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'CVDCRHD4': 'HAD_HEARTDIS'}, inplace=True)
C:\Users\abhia\AppData\Local\Temp\ipykernel_28428\3154289903.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HAD_HEARTDIS'] = df['HAD_HEARTDIS'].replace({1:1,2:0})

In [ ]:
df['HAD_HEARTDIS'].value_counts()

HAD_HEARTDIS
0.0    175057
1.0      9022
Name: count, dtype: int64

In [ ]:
df=df[~df['HAD_HEARTDIS'].isin([7])]

In [ ]:
df['HAD_HEARTDIS'].value_counts()

In [ ]:
df.isnull().sum()

CHECKUP1           0
EXERANY2           0
LASTDEN4           0
had_hattack        0
HAD_HEARTDIS       0
HAD_ASTHMA         0
KIDNEY_DIS         0
HAD_DIABETES       0
DIFFWALK           0
SMOKING100         0
DRINKSIN_30D       0
DRINK_FREQ30D      0
PHYSICH_STATUS     0
MENTALH_STATUS     0
HEALTH_INSU        0
PHYSIC_ACT         0
SEX                0
AGE>65             0
Bodymass_levels    0
Heavy_drinkers     0
Adult              0
WEIGHT_KG          0
dtype: int64

In [ ]:
df.rename(columns={'Heavy_drinkers': 'HEAVY_DRINKERS'}, inplace=True)

In [ ]:
df['HAD_ATTACK'].value_counts()

HAD_ATTACK
0.0    176633
1.0      7446
Name: count, dtype: int64

In [ ]:
df.rename(columns={'had_hattack': 'HAD_ATTACK'}, inplace=True)
df['HAD_ATTACK'] = df['HAD_ATTACK'].replace({1:1,2:0})

In [ ]:
df=df[~df['HAD_ATTACK'].isin([7,9])]

In [ ]:
df

,HAD_ATTACK,HAD_HEARTDIS,HAD_ASTHMA,KIDNEY_DIS,HAD_DIABETES,DIFFWALK,SMOKING100,DRINKSIN_30D,DRINK_FREQ30D,PHYSICH_STATUS,MENTALH_STATUS,HEALTH_INSU,PHYSIC_ACT,SEX,AGE>65,Bodymass_levels,HEAVY_DRINKERS,Adult,WEIGHT_KG
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,3.0,0.0,1.0,1.0,1.0,1.0,0.0,2.0,0.0,1,88.450440
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,3.0,0.0,1,80.739376
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,4.0,0.0,1,98.429464
3,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,1,66.224432
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,4.0,0.0,1,90.718400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192163,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,3.0,1.0,1,71.667536
192164,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,2.0,0.0,1,58.966960
192165,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,3.0,0.0,1,90.718400
192167,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0,77.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,1.0,1,58.059776
192168,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,2.0,0.0,1,74.842680

In [ ]:
df.to_csv('finalpre.csv')

In [38]:
df=pd.read_csv('finalpre.csv')
df

,Unnamed: 0,HAD_ATTACK,HAD_HEARTDIS,HAD_ASTHMA,KIDNEY_DIS,HAD_DIABETES,DIFFWALK,SMOKING100,DRINKSIN_30D,DRINK_FREQ30D,PHYSICH_STATUS,MENTALH_STATUS,HEALTH_INSU,PHYSIC_ACT,SEX,AGE>65,Bodymass_levels,HEAVY_DRINKERS,Adult,WEIGHT_KG
0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,3.0,0.0,1.0,1.0,1.0,1.0,0.0,2.0,0.0,1,88.450440
1,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,3.0,0.0,1,80.739376
2,2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,4.0,0.0,1,98.429464
3,3,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,1,66.224432
4,4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,4.0,0.0,1,90.718400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184074,192163,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,3.0,1.0,1,71.667536
184075,192164,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,2.0,0.0,1,58.966960
184076,192165,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,3.0,0.0,1,90.718400
184077,192167,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0,77.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,1.0,1,58.059776
184078,192168,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,2.0,0.0,1,74.842680

In [39]:
df.drop('Bodymass_levels',inplace=True,axis=1)

In [40]:
df

,Unnamed: 0,HAD_ATTACK,HAD_HEARTDIS,HAD_ASTHMA,KIDNEY_DIS,HAD_DIABETES,DIFFWALK,SMOKING100,DRINKSIN_30D,DRINK_FREQ30D,PHYSICH_STATUS,MENTALH_STATUS,HEALTH_INSU,PHYSIC_ACT,SEX,AGE>65,HEAVY_DRINKERS,Adult,WEIGHT_KG
0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,3.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1,88.450440
1,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1,80.739376
2,2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1,98.429464
3,3,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1,66.224432
4,4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1,90.718400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184074,192163,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1,71.667536
184075,192164,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1,58.966960
184076,192165,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1,90.718400
184077,192167,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0,77.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1,58.059776
184078,192168,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1,74.842680

In [41]:
df.drop('Unnamed: 0',inplace=True,axis=1)

In [42]:
df

,HAD_ATTACK,HAD_HEARTDIS,HAD_ASTHMA,KIDNEY_DIS,HAD_DIABETES,DIFFWALK,SMOKING100,DRINKSIN_30D,DRINK_FREQ30D,PHYSICH_STATUS,MENTALH_STATUS,HEALTH_INSU,PHYSIC_ACT,SEX,AGE>65,HEAVY_DRINKERS,Adult,WEIGHT_KG
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,3.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1,88.450440
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1,80.739376
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1,98.429464
3,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1,66.224432
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1,90.718400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184074,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1,71.667536
184075,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1,58.966960
184076,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1,90.718400
184077,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0,77.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1,58.059776
184078,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1,74.842680

In [46]:
df.to_csv('new_pre.csv')