In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('lasth.csv')

In [6]:
df

,Unnamed: 0.1,Unnamed: 0,GENHLTH,CHECKUP1,EXERANY2,LASTDEN4,had_hattack,CVDCRHD4,ASTHMA3,CHCKDNY2,...,drinks_frequency,_PHYS14D,_MENT14D,_HLTHPL2,_TOTINDA,_SEX,_AGE65YR,_BMI5CAT,Heavy_drinkers,Adult
0,0,0,3.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,...,NaN,2.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1
1,1,1,1.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,...,NaN,1.0,1.0,1.0,1.0,1.0,2.0,3.0,1.0,1
2,2,2,2.0,4.0,1.0,4.0,2.0,2.0,2.0,2.0,...,3.0,3.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1
3,3,3,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,...,NaN,1.0,1.0,1.0,1.0,1.0,2.0,3.0,1.0,1
4,4,4,3.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,...,NaN,1.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428805,445387,457664,5.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,3.0,1.0,1.0,2.0,1.0,2.0,3.0,1.0,1
428806,445388,457666,4.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,...,77.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1
428807,445389,457667,3.0,3.0,2.0,3.0,2.0,2.0,1.0,2.0,...,88.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0,1
428808,445390,457668,1.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,2.0,9.0,1
428809,445391,457669,3.0,1.0,1.0,3.0,2.0,2.0,2.0,2.0,...,NaN,3.0,1.0,2.0,1.0,1.0,1.0,3.0,1.0,1

In [7]:
df

,Unnamed: 0.1,Unnamed: 0,GENHLTH,CHECKUP1,EXERANY2,LASTDEN4,had_hattack,CVDCRHD4,ASTHMA3,CHCKDNY2,...,drinks_frequency,_PHYS14D,_MENT14D,_HLTHPL2,_TOTINDA,_SEX,_AGE65YR,_BMI5CAT,Heavy_drinkers,Adult
0,0,0,3.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,...,NaN,2.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1
1,1,1,1.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,...,NaN,1.0,1.0,1.0,1.0,1.0,2.0,3.0,1.0,1
2,2,2,2.0,4.0,1.0,4.0,2.0,2.0,2.0,2.0,...,3.0,3.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1
3,3,3,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,...,NaN,1.0,1.0,1.0,1.0,1.0,2.0,3.0,1.0,1
4,4,4,3.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,...,NaN,1.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428805,445387,457664,5.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,3.0,1.0,1.0,2.0,1.0,2.0,3.0,1.0,1
428806,445388,457666,4.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,...,77.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1
428807,445389,457667,3.0,3.0,2.0,3.0,2.0,2.0,1.0,2.0,...,88.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0,1
428808,445390,457668,1.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,2.0,9.0,1
428809,445391,457669,3.0,1.0,1.0,3.0,2.0,2.0,2.0,2.0,...,NaN,3.0,1.0,2.0,1.0,1.0,1.0,3.0,1.0,1

In [21]:
df.isnull().sum()

GENHLTH             0
CHECKUP1            0
EXERANY2            0
LASTDEN4            0
had_hattack         0
CVDCRHD4            0
ASTHMA3             0
CHCKDNY2            0
DIABETE4            0
WEIGHT2             0
DIFFWALK            0
SMOKE100            0
Number of drinks    0
drinks_frequency    0
_PHYS14D            0
_MENT14D            0
_HLTHPL2            0
_TOTINDA            0
_SEX                0
_AGE65YR            0
_BMI5CAT            0
Heavy_drinkers      0
Adult               0
dtype: int64

In [10]:
df.drop(['Unnamed: 0.1','Unnamed: 0'],inplace=True,axis=1)

In [11]:
df = df.dropna(subset=['GENHLTH'])

In [12]:
df = df.dropna(subset=['CHCKDNY2'])

In [13]:
df = df.reset_index(drop=True)

In [15]:
df = df.dropna(subset=['Number of drinks'])

In [17]:
df = df.dropna(subset=['drinks_frequency'])

In [19]:
df = df.dropna(subset=['_BMI5CAT'])

In [20]:
df = df.dropna(subset=['DIFFWALK'])

In [22]:
df.drop('GENHLTH',axis=1,inplace=True)

,CHECKUP1,EXERANY2,LASTDEN4,had_hattack,CVDCRHD4,ASTHMA3,CHCKDNY2,DIABETE4,WEIGHT2,DIFFWALK,...,drinks_frequency,_PHYS14D,_MENT14D,_HLTHPL2,_TOTINDA,_SEX,_AGE65YR,_BMI5CAT,Heavy_drinkers,Adult
2,4.0,1.0,4.0,2.0,2.0,2.0,2.0,3.0,195.0,2.0,...,3.0,3.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1
15,1.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,178.0,2.0,...,88.0,2.0,1.0,1.0,1.0,2.0,2.0,3.0,1.0,1
25,2.0,2.0,2.0,2.0,2.0,1.0,2.0,3.0,217.0,1.0,...,88.0,3.0,1.0,1.0,2.0,2.0,1.0,4.0,1.0,1
32,1.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0,146.0,1.0,...,88.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,1.0,1
37,1.0,1.0,3.0,2.0,2.0,2.0,2.0,4.0,200.0,2.0,...,88.0,1.0,1.0,1.0,1.0,2.0,2.0,4.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428793,1.0,1.0,3.0,2.0,2.0,2.0,2.0,3.0,130.0,2.0,...,88.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1
428796,2.0,1.0,1.0,2.0,2.0,2.0,2.0,3.0,200.0,2.0,...,88.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0,1
428797,1.0,2.0,1.0,2.0,2.0,2.0,2.0,1.0,190.0,2.0,...,10.0,2.0,3.0,2.0,2.0,1.0,1.0,4.0,1.0,1
428800,2.0,2.0,1.0,2.0,2.0,2.0,2.0,3.0,128.0,2.0,...,77.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1
428801,3.0,2.0,3.0,2.0,2.0,1.0,2.0,1.0,165.0,2.0,...,88.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0,1