In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('lasth.csv')

In [6]:
df

,Unnamed: 0.1,Unnamed: 0,GENHLTH,CHECKUP1,EXERANY2,LASTDEN4,had_hattack,CVDCRHD4,ASTHMA3,CHCKDNY2,...,drinks_frequency,_PHYS14D,_MENT14D,_HLTHPL2,_TOTINDA,_SEX,_AGE65YR,_BMI5CAT,Heavy_drinkers,Adult
0,0,0,3.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,...,NaN,2.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1
1,1,1,1.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,...,NaN,1.0,1.0,1.0,1.0,1.0,2.0,3.0,1.0,1
2,2,2,2.0,4.0,1.0,4.0,2.0,2.0,2.0,2.0,...,3.0,3.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1
3,3,3,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,...,NaN,1.0,1.0,1.0,1.0,1.0,2.0,3.0,1.0,1
4,4,4,3.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,...,NaN,1.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428805,445387,457664,5.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,3.0,1.0,1.0,2.0,1.0,2.0,3.0,1.0,1
428806,445388,457666,4.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,...,77.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1
428807,445389,457667,3.0,3.0,2.0,3.0,2.0,2.0,1.0,2.0,...,88.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0,1
428808,445390,457668,1.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,2.0,9.0,1
428809,445391,457669,3.0,1.0,1.0,3.0,2.0,2.0,2.0,2.0,...,NaN,3.0,1.0,2.0,1.0,1.0,1.0,3.0,1.0,1

In [7]:
df

,Unnamed: 0.1,Unnamed: 0,GENHLTH,CHECKUP1,EXERANY2,LASTDEN4,had_hattack,CVDCRHD4,ASTHMA3,CHCKDNY2,...,drinks_frequency,_PHYS14D,_MENT14D,_HLTHPL2,_TOTINDA,_SEX,_AGE65YR,_BMI5CAT,Heavy_drinkers,Adult
0,0,0,3.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,...,NaN,2.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1
1,1,1,1.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,...,NaN,1.0,1.0,1.0,1.0,1.0,2.0,3.0,1.0,1
2,2,2,2.0,4.0,1.0,4.0,2.0,2.0,2.0,2.0,...,3.0,3.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1
3,3,3,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,...,NaN,1.0,1.0,1.0,1.0,1.0,2.0,3.0,1.0,1
4,4,4,3.0,1.0,2.0,1.0,2.0,2.0,2.0,2.0,...,NaN,1.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428805,445387,457664,5.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,3.0,1.0,1.0,2.0,1.0,2.0,3.0,1.0,1
428806,445388,457666,4.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,...,77.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1
428807,445389,457667,3.0,3.0,2.0,3.0,2.0,2.0,1.0,2.0,...,88.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0,1
428808,445390,457668,1.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,2.0,9.0,1
428809,445391,457669,3.0,1.0,1.0,3.0,2.0,2.0,2.0,2.0,...,NaN,3.0,1.0,2.0,1.0,1.0,1.0,3.0,1.0,1